<table class="table-bordered data-table" data-source="<%= clientes_url(format: "json") %>">
  <thead>
    <tr>
      <th class="col-md-3">Nombre</th>
      <th class="col-md-2">Identificacion</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    </tbody>
</table>
