<table class="data-table table-bordered" data-source="<%= clientes_url(format: "json") %>">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Numero de identificacion</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    </tbody>
</table>