<table class="data-table table-bordered data-table" data-source="<%= clientes_url(format: "json") %>">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cedula o R.U.C</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    </tbody>
</table>