<%= link_to 'Nuevo', new_cliente_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "nuevo_new"}  %>
<h1 class="text-center">LISTA DE CLIENTES</h1>

<div class="table-responsive">
  <%= render "clientes", clientes: @clientes %>  
</div>
