<table class="data-table table-bordered" data-source="<%= hospitalizacions_url(format: "json") %>">
  <thead>
    <tr>
      <th>Número</th>
      <th>Paciente</th>
      <th>Subtotal</th>
      <th>I.V.A.</th>
      <th>Total</th>
      <th>Dado de alta</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    </tbody>
</table>