<div class="row">
	<% @todos.each do |h| %>
	<div class="shadow col-md-3">
		<strong>Paciente</strong><br>
		<%= h.cliente.nombre %><br>
		<%= link_to "Realizar Pedido", hospitalizacion_path(h) %>
	</div>
	<% end %>
</div>