<div class="row shadow">
	<div class="col-md-12">
		<div class="title-green-head">
			<span>
				<i class="fa fa-hospital-o"></i>
			</span>
		</span>
		<h3>MEDICAMENTOS A HOSPITALIZADOS</h3>
	</div><br>
	<div class="table-responsive">
		<%= render "hospitalizacion"%>  
	</div>
</div>
