<%= link_to 'Nueva', new_hospitalizacion_path, class: "nuevo_new"  %>
<h2 class="text-center">Comprobantes de Hospitalizados</h2>

<div class="row table-responsive">
  <%= render "hospitalizacion"%>  
</div>

