<!-- <div class="container"> -->
<div class="row">
  <div class="col-xs-12 col-md-10  estadisticas">
    <div class="welli well-sm">
      <div class="row">
        <div class="col-xs-12 col-md-4 text-center">
          <h3 class="rating-num">$ <%=number_with_precision(@facturasaño.sum(:total), :precision => 2)%></h3>
          <div class="rating">
           <h5>TOTAL DEL <span class="año"></span></h5>
          </div>
          <div>
            <h5 class="fecha_sin_hora"></h5>
          </div>
          <h5>RESUMEN ANUAL</h5>
        </div>
        <!-- <h5>MESES:</h5> -->
      <div class="col-xs-12 col-md-8">
        <%= render 'meses'%>
      </div>      
    </div>
  </div>
</div>
<!-- </div> -->
