<div class="container">
  <div class="row">
    <h3 class="fix-margin">Productos Por Caducar</h3>
    <% @caducados.each do |caduco|  %>
    <div class="col-md-4">
      <div class="blockquote-box blockquote-warning clearfix">
        <div class="thumbnail square pull-left">
          <div class="caption">
            <h5>Hacer Canje</h5>
            <i class ="fa fa-share-square-o fa-2x"></i><br/>
            <a href="" class="label label-default">Devolver</a>       
          </div>
          <span class="fa-3x"><%= caduco.producto.nombre.chr %></span>
        </div>
        <h4><%= caduco.producto.nombre %></h4>
        <h5>Cantidad: <%= caduco.cantidad %></h5>
        <h5>Fecha: <%= caduco.fecha_caducidad %></h5>
        <h6 class ="text-muted">El producto se caducara en: 120 dias</h6>
      </div>
    </div>
    <% end %>
  </div>
</div>
