<div class="row">
  <h4>Productos por caducar</h4>
<div class="table-responsive">
  <table class="data-table table-bordered" id="table_productos" data-source="<%= dashboard_caducados_url(format: "json") %>">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>        
        <th>Precio</th>
        <th>Código</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

</div>

