<div class="row">
  <% @caducados.each do |caduco|  %>
  <div class="caducados">
    <h4><%= caduco.producto.nombre %></h4>
    <h4><%= caduco.cantidad %></h4>
    <h4><%= caduco.fecha_caducidad %></h4>
    <%= link_to "Canje", nuevo_canje_path(caduco), :class => "btn btn-info" %>
  </div>
  <% end %>
</div>

