<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title" id="myModalLabel">Que caja desea cerrar ?</h3>
</div>
<div class="modal-body">
<%= form_tag dashboard_cierre_de_caja_path do %>
      <%= select_tag :tipo_factura, "<option value='ventanilla'>Ventanilla</option><option value='consulta_externa'>Consulta Externa</option><option value='hospitalizacion'>Hospitalización</option><option value='todo'>Todo</option>".html_safe, { :class => "col-md-4 form-control selecttag" } %>
      <%= submit_tag "Imprimir", :name => nil, :class => "btn-block mostrar_view", :format => :pdf %>
<% end %>
</div>