<!-- <div class="row"> -->
<div class="carousel slide col-md-5" id="myCarousel">
	
	<!-- Indicators -->
<!-- 	<ol class="carousel-indicators">
		<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
		<li data-slide-to="1" data-target="#myCarousel" class=""></li>
		<li data-slide-to="2" data-target="#myCarousel" class=""></li>
		<li data-slide-to="3" data-target="#myCarousel" class=""></li>
		<li data-slide-to="4" data-target="#myCarousel" class=""></li>
		<li data-slide-to="5" data-target="#myCarousel" class=""></li>
		<li data-slide-to="6" data-target="#myCarousel" class=""></li>
		<li data-slide-to="7" data-target="#myCarousel" class=""></li>
		<li data-slide-to="8" data-target="#myCarousel" class=""></li>
		<li data-slide-to="9" data-target="#myCarousel" class=""></li>
		<li data-slide-to="10" data-target="#myCarousel" class=""></li>
	</ol> -->
	
	<!-- Wrapper for slides -->
	<div class="carousel-inner ">
		<div class="item active progress-bar-warning" id="slide1">
			<div class="carousel-caption">
				<h4>MES DE ENERO</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->
		
		<div class="item progress-bar-success" id="slide2">
			<div class="carousel-caption">
				<h4>MES DE FEBRERO</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->
		
		<div class="item progress-bar-info" id="slide3">
			<div class="carousel-caption">
				<h4>MES DE MARZO</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->

		<div class="item progress-bar-danger" id="slide3">
			<div class="carousel-caption">
				<h4>MES DE ABRIL</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->

		<div class="item progress-bar-info" id="slide4">
			<div class="carousel-caption">
				<h4>MES DE MAYO</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->

		<div class="item progress-bar-success" id="slide5">
			<div class="carousel-caption">
				<h4>MES DE JUNIO</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->

		<div class="item progress-bar-danger" id="slide5">
			<div class="carousel-caption">
				<h4>MES DE JULIO</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->
		<div class="item progress-bar-warning" id="slide5">
			<div class="carousel-caption">
				<h4>MES DE AGOSTO</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->

		<div class="item progress-bar-info" id="slide5">
			<div class="carousel-caption">
				<h4>MES DE SEPTIEMBRE</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->
		<div class="item progress-bar-warning" id="slide5">
			<div class="carousel-caption">
				<h4>MES DE NOVIEMBRE</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->
		<div class="item progress-bar-success" id="slide5">
			<div class="carousel-caption">
				<h4>MES DE DICIEMBRE</h4>
				<p>$12122</p>
			</div><!-- end carousel-caption-->
		</div><!-- end item -->
	</div><!-- carousel-inner -->
	<!-- Controls -->
	<a class="" data-slide="prev" href="#myCarousel"><span class="fa fa-arrow-left"></span></a>
	<a class="" data-slide="next" href="#myCarousel"><span class="fa fa-arrow-right"></span></a>	
</div>
<!-- </div> -->
