<% if  @mes.empty?%>
  <h3>No se encontro ninguna factura</h3>
<% else %>
  <h3>Cierre de Caja de: <%= @tipo_factura%></h3>
  <%= @total%>
  <table class="table table-hover table-print">
    <thead>
      <tr>
        <th>Nº Total de Facturas</th>
        <th>Sub Total</th>
        <th>IVA</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @mes.count%></td>
    </tbody>
  </table>
<% end %>