<div class="table-responsive">
<table id="anulada" class="data-table table-bordered dataTable" data-source="<%= traspasos_index_anulada_url(format: "json") %>">
  <thead>
    <tr>
      <th>Número</th>
      <th>Fecha</th>
      <th>Dependencia</th>
      <th>Emisor</th>
      <th>Recibido</th>
      <th>Razón anulada</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
