<table class="data-table table-bordered" data-source="<%= traspasos_url(format: "json") %>">
  <thead>
    <tr>
      <th>Número</th>
      <th>Dependencia entregada</th>
      <th>Fecha</th>
      <th>Emitido por</th>
      <th>I.V.A.</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    </tbody>
</table>