<div class="row title-red-head">
	<span>
		<i><%= link_to "",  new_traspaso_path, title:'Nueva', class: "ttip fa fa-plus" %></i>
	</span>
	<h3>LISTA DE TRANSFERENCIAS</h3>
</div>
<div class="row info-paciente">
	<div class="row">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#todas" data-toggle="tab">Emitidas</a></li>
			<li><a href="#anuladas" data-toggle="tab">Anuladas</a></li>
		</ul><br>
		<div class="tab-content">
			<div class="tab-pane active" id="todas">
				<%= render "traspasos/transferencias"%>
			</div>
			<div class="tab-pane" id="anuladas">
				<%= render "traspasos/anuladas"%>
			</div>
		</div>
	</div>
</div>
