<%= link_to 'Nueva', new_traspaso_path, class: "nuevo_new"  %>
<h1 class="text-center">LISTA DE TRANSFERENCIAS</h1>

<div class=" col-md-10 col-md-offset-1 table-responsive">
  <%= render "transferencias"%>  
</div>
