<%= link_to 'Nueva', new_traspaso_path, class: "nuevo_new"  %>
<h1 class="text-center">LISTA DE TRANSFERENCIAS</h1>
<div class=" col-md-10 col-md-offset-1 table-responsive">
	<table class="data-table table-bordered" data-source="<%= traspasos_url(format: "json") %>">
		<thead>
			<tr>
				<th>Número</th>
				<th>Dependencia</th>
				<th>Fecha</th>
				<th>Emitido por</th>
				<th>Subtotal</th>
				<th>I.V.A.</th>
				<th>Total</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
