

<div class="field">
  <table class="table">
    <thead>
      <tr>
        <th>Fecha Caducidad</th>
        <th>Cantidad</th>
        <th>Lote</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>

