<table class="data-table-not-search-column table-bordered" data-source="<%= pacientes_url(format: "json") %>">
  <thead>
    <tr>
      <th class="col-md-1">H.Clinica</th>
      <th class="col-md-3">Nombre</th>
      <th>Cedula</th>
      <th>Tipo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
