<table class="data-table table-bordered" data-source="<%= pacientes_url(format: "json") %>">
  <thead>
    <tr>
      <th>H. Clinica</th>
      <th>Nombre</th>
      <th>Cedula</th>
      <th>Tipo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>