<h2>Lista de Pacientes</h2>
<table class="data-table table-bordered data-table" data-source="<%= pacientes_url(format: "json") %>">
	<thead>
		<tr>
			<th>Paciente</th>	
			<th>Cedula</th>
			<th>Historia Clinica</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>