<%- if @cliente.errors.any? %>
	<%- @cliente.errors.full_messages.each do |msg|%>
		alertify.error("Cliente: <%=j msg %>");
	<%- end %>
<%- else %>
  <%- if @factura.errors.any? %>
    <%- @factura.errors.full_messages.each do |msg|%>
      alertify.error("<%=j msg %>");
    <%- end %>
  <%- else %>
    alertify.success("Factura Guardada");
    $(".tab-content").html("<h4>Factura Guardada</h4>");
  <%- end %>
<%- end %>