<%- if @cliente.errors.any? %>
  <%- @cliente.errors.full_messages.each do |msg|%>
    alertify.error("Cliente: <%=j msg %>");
  <%- end %>
<%- else %>
  <%- if @factura.errors.any? %>
    <%- @factura.errors.full_messages.each do |msg|%>
      alertify.error("<%=j msg %>");
    <%- end %>
  <%- else %>
  $.getScript("/facturas/<%= @factura.id%>");
  $('#myModal').modal({
    remote: ""
  });
  $('#myModal').on("shown.bs.modal", function() {
    $('.modal-footer').html('<a class="print_button looks_like_button btn btn-info" href="/facturas/<%= @factura.id%>.pdf" target="_blank"><i class="fa fa-print"></i>  Imprimir</a>')
  });
    alertify.success("Factura Guardada");
  <%- end %>
<%- end %>