<%- if @factura.errors.any? %>
  <%- @factura.errors.full_messages.each do |msg|%>
    alertify.error("<%=j msg %>");
  <%- end %>
<%- else %>
  $.getScript("/facturas/<%= @factura.id%>");
  $('#myModal').modal({
    remote: ""
  });
  $('#myModal').on("shown.bs.modal", function() {
    $('.modal-footer').html('<a class="print_button looks_like_button btn btn-info reset-fields" href="/facturas/<%= @factura.id%>.pdf" target="_blank"><i class="fa fa-print"></i>  Imprimir</a>')
    window.Helpers.ResetFields.init();
  });
    alertify.success("Factura Guardada");
<%- end %>
