<div class="row">
	<h4>FACTURAS EMITIDAS</h4>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#todas" data-toggle="tab">Venta</a></li>
		<li><a href="#anuladas" data-toggle="tab">Anuladas</a></li>
		<li class="only-admin"><a href="#compra" data-toggle="tab">Compra</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="todas">
			<div class="table-responsive">
				<%= render "facturas/datatables/facturas_venta", facturas: @facturas %>
			</div>
		</div>
		<div class="tab-pane" id="anuladas">
			<%= render "facturas/datatables/facturas_anuladas", facturas: @facturas %>
		</div>
		<div class="tab-pane" id="compra">
			<%= render "facturas/datatables/facturas_compra", facturas: @facturas %>
		</div>
	</div>
</div>

