<li class="pacientes-hospitalizados text-center green-opcion">
	<span class="fa fa-calendar  fa-3x"></span>
	<h4><li><%=link_to("Calendario", calendario_index_path)%></li></h4>
</li>
<li class="pacientes-hospitalizados text-center grey-opcion">
	<span class="fa fa-book  fa-3x"></span>
	<h4><li><%=link_to("Reportes", reportes_fisiatria_index_path)%></li></h4>
</li>
<% if @admin%>
<li class="pacientes-hospitalizados text-center blue-opcion">
	<span class="fa fa-user-md  fa-3x"></span>
	<h4><li><%=link_to("Terapistas", personals_path)%></li></h4>
</li>
<li class="pacientes-hospitalizados text-center grey-opcion">
	<span class="fa fa-cog  fa-3x"></span>
	<h4><li><%=link_to("Configuración", configuraciones_fisiatria_index_path)%></li></h4>
</li>
<% end %>
