<h3>REPORTE DE CIERRE DE CAJA MENSUAL:</h3>
<h4>Fecha: <span class="fecha_sin_hora"></span></h4>
<h4>Usuario: <%= current_user.username %></h4>
<h4>Rol: <%= current_user.rol.nombre %></h4>
<%= render 'dashboard/partials/caja_mes'%>
<small class="text-muted">*Este documento de uso interno del Hospital 7 B.I Loja</small>
