<div class="modal-header">
	<h3 class="modal-title" id="myModalLabel">Doctor</h3>
</div>
<%= form_for @doctor, :remote => true do |f| %>
<div class="modal-body field">
	<%= f.label :cantidad_turno%>
	<%= f.text_field :cantidad_turno, placeholder: "Cantidad de turnos" %>
	<small class="text-warning"> * Ingrese 0 si no acepta turnos</small>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	<%= f.submit 'Guardar', class: "btn btn-primary", :remote => true %>
</div>
<% end %>
