<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Cama</th>
				<th>Paciente</th>
				<th>Examenes</th>
			</tr>
		</thead>
		<tbody class="notas">
			<td>34</td>
			<td><%= i.hospitalizacion_registro.paciente.cliente.nombre  %> </td>
			<td><%= i.descripcion  %> </td>
		</tbody>
	</table>
</div>
