<table class="data-table table-bordered data-table" data-source="<%= facturas_index_compra_url(format: "json") %>">
  <thead>
    <tr>
      <th>Proveedor</th>
      <th>Numero</th>
      <th>Total</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>