<table class="data-table table-bordered data-table" data-source="<%= facturas_url(format: "json") %>">
  <thead>
    <tr>
      <th class="col-md-3">Cliente</th>
      <th>Nº Factura</th>
      <th>Total</th>
      <th>Vendedor</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>