<table class="data-table table-bordered data-table" data-source="<%= proveedors_url(format: "json") %>">
  <thead>
    <tr>
      <th>Nombre o Razon Social</th>
      <th>Dirección</th>
      <th>Cédula o R.U.C</th>
      <th>Teléfono</th>
      <th>Código</th>
      <th>Reprentante Legal</th>
      <th>País</th>
      <th>Ciudad</th>
      <th>Fax</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    </tbody>
</table>