<table class="data-table table-bordered data-table" data-source="<%= proveedors_url(format: "json") %>">
  <thead>
    <tr>
      <th>Nombre o Razon Social</th>
      <th>Direccion</th>
      <th>Cedula o R.U.C</th>
      <th>Telefono</th>
      <th>Codigo</th>
      <th>Reprentante Legal</th>
      <th>Pais</th>
      <th>Ciudad</th>
      <th>Fax</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    </tbody>
</table>