<%= link_to 'Nuevo', new_proveedor_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "nuevo_new"}  %>
<h1 class="text-center">LISTA DE PROVEEDORES</h1>

<div class="table-responsive">
  <%= render "proveedors", proveedors: @proveedors %>  
</div>
