<div class="text-center">
	<i class="fa fa-rocket fa-3x"></i>
	<h1>Ya has enviado tu reporte</h1>
	<h4>"Solo puedes enviar un reporte por dia"</h4>
	<link rel="stylesheet" type="text/css" href="">
	<%=link_to("REGRESAR",doctors_dashboard_path, class: "btn btn-primary" )%>
</div>
