<%- if @factura.errors.any? %>
  <%- @factura.errors.full_messages.each do |msg|%>
    alertify.error("<%=j msg %>");
  <%- end %>
<%- else %>
  $(".table-proformas").html('<%= j render 'proformas', proformas: @proformas %>');
  window.Helpers.init_datatables();
  $('.modal-footer').html('<a class="print_button looks_like_button btn btn-info reset-fields" href="/facturas/<%= @factura.id%>.pdf" target="_blank"><i class="fa fa-print"></i>  Imprimir</a>')
  alertify.success("Receta Facturada");
<%- end %>
