m = $(".resultado-busqueda-paciente");
content = $("<div class='text-center'><i class=' fa fa-warning fa-3x text-center'></i><h5>No hay resultados</h5></div>")
<%- if @resultados.empty? %>
	m.html(content);
<%- else %>
	m.html("<%= j render('reportes_fisiatria/reporte_paciente') %>");
  window.Helpers.AltaCertificado.init()
<%- end %>
