<div class=" col-md-12">
	<% @turnos.each do |turno|  %>
		<% if @hora  == turno.horario.hora %>
			<ul class="doctores cantidad_turnos">
				<li class= "list">
					<div class="row-fix-div control-turno col-md-12">
						<div class="row col-md-2 col-xs-2 turnos-emitidos">
							<span class="t_emitidos"> <i class="fa fa-user"></i> </span>
							<h6>paciente</h6>
						</div>
						<div class="row col-md-8 col-xs-8 paciente">
							<h4><%= turno.asignar_horario.paciente.cliente_nombre%></h4>
							<small>H.C: #<%= turno.asignar_horario.paciente.n_hclinica%></small>
						</div>
						<div class="row col-md-2 col-xs-2 turnos-disponibles">
							<% if turno.fecha.beginning_of_day != Time.now.beginning_of_day%>
								<span class="t_disponibles"><i class="fa fa-pencil text-muted"></i></span>
								<h6>No Dispnb.</h6>
							<% else %>
						<% if turno.atendido %>
		          <span class="t_disponibles"><%= link_to "", edit_resultado_tratamiento_path(turno), class: "fa fa-check-circle text-success" %></span>
							<h6>editar</h6>
		          <% else %>
		          <span class="t_disponibles"><%= link_to "", edit_resultado_tratamiento_path(turno), class: "fa fa-pencil text-success" %></span>
								<h6>registrar</h6>
		          <% end %>
						<% end %>
						</div>
					</div>
				</li>
			</ul>
		<% end %>
	<% end %>
</div>

