<div>
	<h5><%= cama.numero%></h5>
	<% if cama.ocupada %>
	<span class="fa fa-circle text-danger"> Ocupada</span>
	<% else %>		
	<span class="fa fa-circle text-success"> Disponible</span>
	<% end %>
</div>