<legend>Informacion Familiar</legend>
<div class="militar field">
	<div class="col-md-6">
		<%= f.label :parentesco %>
		<%= f.select(:parentesco, ['Hijo','Hija','Esposo'], {}, { :class => 'form-control' }) %>
	</div>
	<div class="col-md-6">
		<%= f.label :codigo_issfa %>
		<%= f.text_field :codigo_issfa, placeholder: "Codigo ISSFA" %>
	</div>
</div>