<td><%= p.text_field :fecha_caducidad, :class => "datepicker" %></td>
<td><%= p.number_field :cantidad,:class => "cantidad_producto",:placeholder => "0", min: "0"%></td>
<td><%= p.text_field :lote %></td>
<td><%= p.link_to_remove '', :class => "delete_destroy eliminar_item_producto" %></td>
