

<div class="table-responsive">
  <table class="data-table table-bordered" id="table_productos" data-source="<%= productos_url(format: "json") %>">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nombre Generico</th>
        <th>Cantidad</th>        
        <th>Precio</th>
        <th>Codigo</th>
        <th>Categoria</th>
        <th>Casa Comercial</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
