<table class="data-table table-bordered" data-source="<%= productos_url(format: "json") %>">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Código</th>
      <th>Casa Comercial</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
