<div class="row shadow">
	<div class="col-md-12">
		<div class="title-green-head">
			<span><i><%=link_to "", productos_caducado_path, title: "Caducados", class: "ttip fa fa-thumbs-down"%></i></span>
		</span>
		<h3>LISTA DE PRODUCTOS</h3>
	</div><br>
	<% if @admin %>
	<%= link_to 'Inventario', productos_inventario_path, class: "print_button" %>
	<%= link_to 'Importar productos', new_product_import_path, class: "print_button" %>
	<% end %>
	<div class="table-responsive table-productos">
		<%= render "productos", productos: @productos %>  
	</div>
</div>
