<%= link_to 'Nuevo', {:controller => 'productos', :action => 'new'},  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "nuevo_new"}  %>
<h1 class="text-center">LISTA DE PRODUCTOS</h1>

<div class="table-responsive">
  <%= render "productos", productos: @productos %>  
</div>
