<div class="row shadow col-md-10 col-md-offset-1">
  <% unless request.format.to_sym == :pdf %>
  <div class="col-md-12">
    <div class="title-green-head">
      <span><i><%=link_to "", productos_path, class: "fa fa-arrow-left"%></i></span>
    </span>
    <h3>INVENTARIO DE PRODUCTOS</h3>
  </div><br>
  <p>
    Descargar:
    <%= link_to "PDF", productos_inventario_path(params.merge(format: 'pdf')), :target => "_blank" %>
  </p>
  <% end %>
    <%= render "productos/inventario_actual"  %>
</div>
