<ul class="main searchable-container internados grid">
  <% @registros.each do |r|  %>
  <li class="pacientes-hospitalizados items">
    <span class="internado-name">
      <%=r.paciente.cliente.nombre%>
    </span>
    <span class="internado-hc">
      H.C #<%= r.paciente.n_hclinica%>
    </span><br>
    <small class="text-muted">Doctor(a): <%= r.medico_asignado%></small>
    <span class="ingresado-type">
      <% if r.alta? %>
      <span class="fa fa-check-circle  text-success"></span>
      <% else %>
      <span class="fa fa-circle text-info"></span>
      <% end %>
    </span>
  </li>
  <% end %>
</ul>

