<div class="row title-history">
  <h2 class="fix-margin">Pacientes Hospitalizados</h2>
</div>
<div class="row info-paciente">
  <div class="row">
    <div class="col-md-3">
      <%= form_tag hospitalizacion_registros_reporte_path, method: :get do %>
      <div class="input-group field fix-margin">
        <%= text_field_tag :fecha, params[:fecha],:class =>"datepicker_month", :placeholder => "Reporte: Ingrese mes", :required => true%>
        <span class="input-group-btn">
          <%= submit_tag "Ir", name: nil, :class => "btn btn-info" %>
        </span>
      </div>
      <% end %>
    </div>
    <div class="col-md-3 col-md-offset-6">
      <div class="input-icon-sm icon-addon addon-sm">
        <input type="search" id="input-search" class="form-control" placeholder="Buscar Paciente..." ><i class="fa fa-search"></i>
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
  <legend class="fix-margin"><i class="fa fa-hospital-o"></i> Internados del mes</legend>
  <div class="ingresados">
    <ul class="list-inline fix-margin text-muted">
      <span class="ingresado-type"><span class="fa fa-check-circle text-success"></span> ALTA</span>
      <li class="ingresado-type"><span class="fa fa-circle text-info"></span> INTERNADO</li>
    </ul>
    <%= render 'internados'  %>
  </div>
</div>
