<strong><h4><%= tratamiento.numeracion%> <%= tratamiento.nombre%> <i class="fa fa-plus"></i></h4> </strong>
<% tratamiento.item_tratamientos.each do |i|%>
	<h5><strong><%= i.codigo%></strong>. <%= i.nombre%> <i class="fa fa-pencil pull-rigth"></i> <i class="fa fa-times pull-rigth"></i></h5>
<% end %>