// Place all the styles related to the dashboard_enfermeria controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.internados {
  list-style: none;
  margin: 0;
  padding: 0;
}

%card-style {
  display: block;
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;
  
  background: white;
  box-shadow: 0 2px 1px rgba(170,170,170,0.25);  
}

.ingresado-item {
  @extend %card-style;
}

.no-ingresado-item {
  @extend %card-style;
}

.admin-cuartos {
  @extend %card-style;
}

.ingresado-type .circle {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 0;
  margin: 0 2px;
}

.grid {
  .ingresado-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 150px;
    width: 250px;
    margin: 10px;
    
    @media screen and (max-width: 600px) {
      display: block;
      width: auto;
      height: 150px;
      margin: 10px auto;
    }
  }

  .no-ingresado-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 80px;
    width: 250px;
    margin: 10px;
    @media screen and (max-width: 600px) {
      display: block;
      width: auto;
      height: 80px;
      margin: 10px auto;
    }
  }

  .admin-cuartos {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 220px;
    width: 250px;
    margin: 10px;
    @media screen and (max-width: 600px) {
      display: block;
      width: auto;
      height: 220px;
      margin: 10px auto;
    }
  }
  
  .internado-name {
    display: block;
    max-width: 80%;
    
    font-size: 16px;
    line-height: 20px;
  }
  
  .internado-hc {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
  }
  
  .internado-hc,
  .type-paciente {
    color: #A1A1A4;
  }
  
  .opcions {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px;
    border-top: 1px solid #eee;
    font-size: 13px;
  }

  .menu{
    position: absolute;
    right: 20px;
    top: 10px;
  
    @media screen and (max-width: 200px) {
      right: auto;
      left: 10px;
    }
    ul li {
      padding-left: 5px;
    }    
  }
  
  .ingresado-type {
    position: absolute;
    top: 20px;
    right: 20px;
    
    .militar {
      display: block;
      background-color: #27ae60;
    }
    
    .familiar {
      display: block;
      background-color: #f1c40f;
    }

    .civil {
      display: block;
      background-color: #2980b9;
    }

  }
}

.green-color{
  background-color: #27ae60;
}

.blue-color{
  background-color: #2980b9;
}

.yellow-color{
  background-color: #f1c40f;
}

// red-color #c0392b

// css camas
%square-style{
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 18px;
  color: #fff;
  margin-bottom: 6px;
}
.square-green {
  @extend %square-style;
  background-color: #7CC576;
}

.square-red {
  @extend %square-style;
  background-color: #CA6868;
}
.input-cuarto{
  margin-left: 10px;
}
//end css camas

