/*.container {
	padding: 74px;
	margin: 0 auto;
}*/

.form_persona{
/*height: 50px;*/
margin: auto; /* esto es para centrar pero hay que indicar un ancho obligatoriamente */
width: 40%;
}

.form_login{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-control-border{
border: 0;
width: 100%;
border-bottom: 1px solid #cccccc;
padding-top: 5px;
padding-bottom: 3px;
}

.form-control-border:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

table.dataTable td.sorting_1{ background-color: white; border:1px lightgrey; }
    table.dataTable td{ background-color: white;  border:1px lightgrey;}
    table.dataTable tr.odd { background-color: white;  border:1px lightgrey;}
    table.dataTable tr.even{ background-color: white; border:1px lightgrey; }