.form-control-border{
  border: 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-top: 5px;
  padding-left: 5px;
  /*padding-bottom: 3px;*/
}

.input-noborder{
  border: 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-top: 8px;
}

.form-control-border:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

table.dataTable td.sorting_1{ background-color: white; border:1px lightgrey; }
table.dataTable td{ background-color: white;  border:1px lightgrey;}
table.dataTable tr.odd { background-color: white;  border:1px lightgrey;}
table.dataTable tr.even{ background-color: white; border:1px lightgrey; }

.table{margin-top: 20px;}
.total-num { margin-top:0px;font-size: 44px; }
.estadisticas {padding-top: 20px;}
.info-cierre-caja {padding-bottom: 15px}
.alert{
  /*opacity: 0.8;*/
  position: fixed;
  z-index: 999999;
  width: 300px;
  top: 65px;
  /*left: auto;*/
  /*right: auto;*/
  right: 12px;
}

.row-user{
  padding-top: 15px;
}

.fix-margin{
  margin-left: 15px;
}

.impuestos{
  height: 30px;
}

.clickable{
  cursor: pointer;
}
.rmv-cama a{
  color: #fff;
  text-decoration:none !important;
}

.rmv-cuarto{
  position: fixed;
}
.rmv-cama:hover a{
  color:red;
}

.productos-compras{
  padding-bottom: 15px;
}

.page-break { display:block; clear:both; page-break-after:always; }

.shadow {
  padding: 30px 0;
  background-color: #fff;
  -moz-box-shadow: 3px 3px 5px 3px #ccc;
  box-shadow: 3px 3px 5px 3px #ccc;
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;
}

.charts-venta{
  margin-bottom: 8px !important;
}

.success-factura{
  /*opacity: 0.6;*/
  font-size: 165px;
  text-align: center;
  color: #1ABC9C;
  background-color: #f7f7f7 !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  /*line-height: 1.428571429;*/
  background-color: #e7e7e7;
  border-radius: 50%;
}

.line{
border: 1px solid #e7e7e7;
}

.hospitalizado {
  float: left;
  width: 23%;
  background: #fff;
  margin: 10px 1%;
  /*padding: 1%;*/
}

.picker{font-size:16px;text-align:left;line-height:1.2;color:#000;position:absolute;z-index:10000}.picker__input.picker__input--active{border-color:#0089ec}.picker__holder{width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch}.picker{width:100%}.picker__holder{position:absolute;background:#fff;border:1px solid #aaa;border-top:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-width:176px;max-width:466px;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;max-height:0;-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;opacity:0;-webkit-transform:translateY(-1em) perspective(600px) rotateX(10deg);-moz-transform:translateY(-1em) perspective(600px) rotateX(10deg);transform:translateY(-1em) perspective(600px) rotateX(10deg);-webkit-transition:all .15s ease-out,max-height 0 .15s;-moz-transition:all .15s ease-out,max-height 0 .15s;transition:all .15s ease-out,max-height 0 .15s}.picker--opened .picker__holder{max-height:25em;-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;opacity:1;-webkit-transform:translateY(0) perspective(600px) rotateX(0);-moz-transform:translateY(0) perspective(600px) rotateX(0);transform:translateY(0) perspective(600px) rotateX(0);-webkit-transition:all .15s ease-out,max-height 0;-moz-transition:all .15s ease-out,max-height 0;transition:all .15s ease-out,max-height 0;-webkit-box-shadow:0 6px 18px 1px rgba(0,0,0,.12);-moz-box-shadow:0 6px 18px 1px rgba(0,0,0,.12);box-shadow:0 6px 18px 1px rgba(0,0,0,.12)}

.picker__list{list-style:none;padding:.75em 0 4.2em;margin:0}.picker__list-item{border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin-bottom:-1px;position:relative;background:#fff;padding:.75em 1.25em}@media (min-height:40.125em){.picker__list-item{padding:.5em 1em}}.picker__list-item:hover{cursor:pointer;color:#000;background:#b1dcfb;border-color:#0089ec;z-index:10}.picker__list-item--selected,.picker__list-item--selected:hover{border-color:#0089ec;z-index:10}.picker__list-item--highlighted{background:#b1dcfb}.picker__list-item--highlighted:hover,.picker--focused .picker__list-item--highlighted{background:#0089ec;color:#fff}.picker__list-item--disabled,.picker__list-item--disabled:hover{background:whitesmoke;border-color:whitesmoke;color:#ddd;cursor:default;border-color:#777;z-index:auto}.picker--time .picker__button--clear{display:block;width:80%;margin:1em auto 0;padding:1em 1.25em;background:0;border:0;font-weight:500;font-size:.67em;text-align:center;text-transform:uppercase;color:#666}.picker--time .picker__button--clear:hover,.picker--time .picker__button--clear:focus{cursor:pointer;color:#000;background:#b1dcfb;background:#e20;border-color:#e20;cursor:pointer;color:#fff;outline:0}.picker--time .picker__button--clear:before{top:-.25em;color:#666;font-size:1.25em;font-weight:700}.picker--time .picker__button--clear:hover:before,.picker--time .picker__button--clear:focus:before{color:#fff}.picker--time{min-width:256px;max-width:320px}.picker--time .picker__holder{background:#f2f2f2}@media (min-height:33.875em){.picker--time .picker__holder{font-size:.875em}}.picker--time .picker__box{padding:0}

.add-margin{
  margin-top: 15px;
}

#radioBtn .notActive{
    color: #39b3d7;
    background-color: #fff;
}
.area-max{
  cursor: pointer;
}
.area-max textarea{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.datos-paciente{
  margin-bottom: 10px;
}
.print{
  padding: 0px;
}

.add-padding-bottom{
  padding-bottom: 10px;
}

/*animated number*/

.state-overview .symbol, .state-overview .value {
    display: inline-block;
    text-align: center;
}

.state-overview .value  {
    float: right;

}

.state-overview .value h1, .state-overview .value p  {
    margin: 0;
    padding: 0;
    /*color: #c6cad6;*/
    color: #919399;
}

.state-overview .value h1 {
    font-weight: 300;
}

.state-overview .symbol i {
    color: #fff;
    font-size: 50px;
}

.state-overview .symbol {
    width: 40%;
    padding: 25px 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

.state-overview .value {
    width: 58%;
    padding-top: 21px;
}

.state-overview .green {
    background: #6EB590;
}

.state-overview .red {
    background: #CE5C5B;
}

.state-overview .yellow {
    background: #f8d347;
}

.state-overview .blue {
    background: #2DC1E6;
}

/*end animated number*/

#charts{
  border: 1px solid #f7f7f7;
  /*background-color: #fafafa;*/
}

.horario{
  background-color: #fff;
  list-style: none;
  margin: 2px;
  padding: 10px;
  font-size: 16px;
  border-top: solid 4px #6eb590;
}

.registro_terapia{
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  /*font-size: 16px;*/
  border-top: solid 4px #2dc1e6;
}

.grey-backg{
  background-color: #f3f3f2;
  padding: 4px;
  /*color: #e7e7e7;*/
}

.horario-list{
  background-color: #fafafa;
  padding: 8px;
  margin: 3px;
}

.mygrid-wrapper-div {
    overflow: scroll;
    height: 250px;
}
