/*.container {
	padding: 74px;
	margin: 0 auto;
}*/

.form_persona{
/*height: 50px;*/
margin: auto; /* esto es para centrar pero hay que indicar un ancho obligatoriamente */
width: 40%;
}

.form_login{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-control-border{
border-right: 0;
border-top: 0;
border-left: 0;
}

