.form-control-border{
  border: 0;
  width: 90%;
  border-bottom: 1px solid #cccccc;
  padding-top: 5px;
  padding-left: 5px;
  /*padding-bottom: 3px;*/
}

.input-noborder{
  border: 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-top: 2px;
  /*background-color: #e7e7e7;*/
}

.form-control-border:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

table.dataTable td.sorting_1{ background-color: white; border:1px lightgrey; }
table.dataTable td{ background-color: white;  border:1px lightgrey;}
table.dataTable tr.odd { background-color: white;  border:1px lightgrey;}
table.dataTable tr.even{ background-color: white; border:1px lightgrey; }

.table{margin-top: 20px;}
.rating-num { margin-top:0px;font-size: 44px; }
.estadisticas {padding-top: 20px;}


.carousel-caption {
  font-size: 20px;
}

.carousel-caption h4 {
  font-size: 25px;
}

#myCarousel .item { height: 160px; }
