.form-control-border{
  border: 0;
  width: 90%;
  border-bottom: 1px solid #cccccc;
  padding-top: 5px;
  padding-left: 5px;
  /*padding-bottom: 3px;*/
}

.ningun-border{
  border: 0;
  width: 90%;
  padding-top: 5px;
  padding-left: 5px;
}

.input-noborder{
  border: 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-top: 2px;
  /*background-color: #e7e7e7;*/
}

.form-control-border:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

table.dataTable td.sorting_1{ background-color: white; border:1px lightgrey; }
table.dataTable td{ background-color: white;  border:1px lightgrey;}
table.dataTable tr.odd { background-color: white;  border:1px lightgrey;}
table.dataTable tr.even{ background-color: white; border:1px lightgrey; }

.table{margin-top: 20px;}
.total-num { margin-top:0px;font-size: 44px; }
.estadisticas {padding-top: 20px;}
.info-cierre-caja {padding-bottom: 15px}
.alert{
  /*opacity: 0.8;*/
  position: fixed;
  z-index: 999999;
  width: 300px;
  top: 65px;
  /*left: auto;*/
  /*right: auto;*/
  right: 12px;
}

.row-user{
  padding-top: 15px;  
}

.table-factura thead tr th{
  padding-right: 8px;
}

.table-factura tbody tr th{
  padding-right: 8px;
}