// Place all the styles related to the PanelControlAdmin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.white-font{
	color: #fff;		
	a{
		color: #fff;		
	}
}

.red-opcion{
	@extend .white-font;
	background-color: #CE5C5B;
}

.blue-opcion{
	@extend .white-font;
	background-color: #2DC1E6;
}

.green-opcion{
	@extend .white-font;
	background-color:  #6EB590;
}

.dark-opcion{
	@extend .white-font;
	background-color:  #333;
}

.yellow-opcion{
	@extend .white-font;
	background-color:  #f8d347; 
}

.grey-opcion{
	@extend .white-font;
	background-color:  #858580;
}

