<div class="row">
	<div class="title-blue-head">
		<span>
			<i><%= link_to "", turnos_path, title:'Volver', class: "ttip fa fa-arrow-left" %></i>
		</span>
		<h3>TURNOS DE HOY</h3>
	</div>
</div>
<div class="admin-turnos">
	<%= render "turnos"  %>
</div>
