<div class="col-md-10 col-md-offset-1">
	<div class="row turno">
		<h2 class="fix-margin">Turnos de Hoy</h2>
	</div>
	<div class="row info-paciente">
		<div class="search">
			<div class="well well-sm">
				<strong>Acciones: </strong>
				<div class="btn-group">
					<%= link_to 'Nuevo',new_turno_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "nuevo_new btn-xs"}  %>
				</div>
			</div>
		</div>
		<div class="internados">
			<div class="col-md-6">
				<h4><strong>Atendidos</strong></h4>
				<%= render 'atendidos'%>
			</div>
			<div class="col-md-6">
				<h4><strong>Pendientes</strong></h4>
				<%= render 'pendientes'%>
			</div>
		</div>
	</div>
</div>
