<div class="container">
	<div class="row turno">
		<h2 class="fix-margin">Emision de Turnos</h2>
	</div>
	<div class="row info-paciente">
		<div class="acciones">
			<div class="well well-sm">
				<strong>Acciones: </strong>
				<div class="btn-group">
					<%= link_to 'Nuevo',new_turno_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "nuevo_new btn-xs"}  %>
				</div>
			</div>
		</div>
		<ul class="doctores cantidad_turnos">
			<%= render "doctor_turnos"%>
		</ul>
	</div>