<div class="row">
	<div class="title-blue-head">
		<span>
			<i><%= link_to "", turnos_path, title:'Volver', class: "ttip fa fa-arrow-left" %></i>
		</span>
		<span class="rev-combo pull-right"><i><%= link_to '',turnos_manana_path(params.merge(format: 'pdf')), class: "ttip fa fa-print", :target => "_blank", title:'Imprimir' %></i></span>
		</span>
		<h3>TURNOS DE MAÑANA</h3>
	</div>
</div>
<div class="admin-turnos">
<%= render "turnos"  %>
</div>
