<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="text-center">
                        Iniciar Sesión</h4>
                      <%= form_tag user_sessions_path do %>
                      <div class="input-group"> 
                        <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                        </span>
                        <%= text_field_tag :username, params[:username], :placeholder => "Nombre de Usuario", :required => true, class: "form-control" %>
                      </div><br>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <%= password_field_tag :password, "", :placeholder => "Contraseña", class: "form-control" %>
                      </div><br>
                      <%= submit_tag "Iniciar sesión", data: {disable_with: "Ingresando"}, class: "guardar_submit btn-block" %>
                      <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
