<h3><%=@consulta.paciente.cliente.nombre%></h3>
<%= local_date(@consulta.inicio_atencion,"time")  %><br>
<%= local_date(@consulta.fin_atencion,"time")  %><br>
<%= local_date(@consulta.horas_trabajadas,"time")  %>
