<div class="row title-history">
  <h2 class="fix-margin">Pacientes Hospitalizados</h2>
</div>
<div class="row info-paciente">
  <div class="search">
    <div class="well well-sm">
      <strong>Generar Reporte:</strong>
      <div class="btn-group">
      </div>
    </div>
  </div>
  <div class="internados">
    <%= render 'internados'  %>
  </div>
</div>
