<div class="col-md-10 col-md-offset-1">
  <h2 class= "text-center"> 
    <span class ="fa fa-paperclip"></span>
    Ficha de Registro Medico
  </h2>
  <div class="row form-group">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-justified thumbnail setup-panel">
        <li class="active"><a href="#step-1">
          <span class ="fa fa-user-md fa-2x"></span>
          <p class="list-group-item-text">Datos del Paciente</p>
        </a></li>
        <li class="disabled"><a hre f="#step-2">
          <span class ="fa fa-sitemap fa-2x"></span>
          <p class="list-group-item-text">Informacion de Reparto Militar</p>
        </a></li>
        <li class="disabled"><a href="#step-3">
          <span class ="fa fa-th-list fa-2x"></span>
          <p class="list-group-item-text">Informacion Adicional</p>
        </a></li>
      </ul>
    </div>
  </div>
  <div class="row setup-content" id="step-1">
    <div class="col-xs-12">
      <div class="col-md-12 shadow">
        <%= render 'registros/paciente/civil'%><br>
        <button id="activate-step-2" class="btn btn-primary">Siguiente</button>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-2">
    <div class="col-xs-12">
      <div class="col-md-12 well">
        <h1 class="text-center"> STEP 2</h1>
      </div>
    </div>
  </div>
  <div class="row setup-content" id="step-3">
    <div class="col-xs-12">
      <div class="col-md-12 well">
        <h1 class="text-center"> STEP 3</h1>
      </div>
    </div>
  </div>
</div>