<div class="calendar">
	<h1 class="month"><%= month_name(@fecha)%></h1>
	<ol class="day-names"><li>Domingo</li><li>Lunes</li><li>Martes</li><li>Miercoles</li><li>JUeves</li><li>Viernes</li><li>Sabado</li></ol>
	<ol class="days">
		<% for i in (1..@espacios) %>
		<li></li>
		<% end %>
		<% for i in(1..@numero_dias) %>
			<li>
				<div class="date"><%=i%></div>
				<% @turnos.each do |e| %>
					<% if i == e.dia.strftime("%d").to_i %>
							<div class = "<%= e.lleno ? 'lleno' : 'disponible' %>" >
								<%= link_to	"ver", resultado_tratamientos_by_day_path(:dia => e.dia), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "btn btn-xs btn-default"}  %>
					<% end %>
				<% end %>
			</li>
		<% end %>
	</ol>
</div>
	