<div class="calendar">
	<h1 class="month"><%= month_name(@fecha)%></h1>
	<ol class="day-names"><li>Domingo</li><li>Lunes</li><li>Martes</li><li>Miercoles</li><li>JUeves</li><li>Viernes</li><li>Sabado</li></ol>
	<ol class="days">
		<% for i in (1..@espacios) %>
		<li></li>
		<% end %>
		<% for i in(1..@numero_dias) %>
		<li>
			<div class="date"><%=i%></div>
			<% @turnos.each do |e| %>
			<div class="event">
				<% if i == e.fecha.strftime("%d").to_i %>
				turno
				<% end %>
			</div>
			<% end %>
		</li>
		<% end %>
	</ol>
</div>