<h2 class="text-center">CONTROL DE HORARIOS FISIATRIA</h2>
<div class="calendar">
	<h1 class="month"><%= month_name(Time.now)%></h1>
	<ol class="day-names"><li>Domingo</li><li>Lunes</li><li>Martes</li><li>Miercoles</li><li>JUeves</li><li>Viernes</li><li>Sabado</li></ol>
	<ol class="days">
		<% for i in (1..@espacios) %>
		<li></li>
		<% end %>
		<% for i in(1..@numero_dias) %>
		<li>
			<div class="date"><%=i%></div>
			<div class="event">
			</div>
			<div class="event hospt">
			</div>
		</li>
		<% end %>
	</ol>
</div>
