<header class="navbar navbar-fixed-top">
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Farmacia</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Facturacion</a></li>
      <li><a href="#">Ventas</a></li>
      <li><a href="#">Inventario</a></li>
    </ul>
  </div>
</nav>
</header>
